@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  background-color: #060606;
  background-image: 
    radial-gradient(circle at top right, rgba(16, 185, 129, 0.05), transparent 50%),
    radial-gradient(circle at bottom left, rgba(39, 39, 42, 0.4), transparent 50%);
  background-attachment: fixed;
  color: #ffffff;
  overscroll-behavior-y: none;
  min-height: 100vh;
}

@theme {
  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-primary: #00E676;
  --color-text-primary: #E0E0E0;
  --color-error: #CF6679;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 80s linear infinite;
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-reverse {
  animation: marquee-reverse 100s linear infinite;
}

.animate-marquee-fast {
  animation: marquee 50s linear infinite;
}